<%- layout('layouts/main.ejs') %>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-0 text-center">
            <div class="card-header">
                <h3>Registro</h3>
            </div>
            <div class="card-body">
                <form action="/api-ciudadania/signUp-ciudadania" method="POST">
                    <div class="row g-2">
                        <div class="col-md-6">
                            <label for="primerNombre" class="form-label">Primer nombre</label>
                            <input type="text" name="primerNombre" id="primerNombre" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="segundoNombre" class="form-label">Segundo nombre</label>
                        <input type="text" name="segundoNombre" id="segundoNombre" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="primerApellido" class="form-label">Primer apellido</label>
                        <input type="text" name="primerApellido" id="primerApellido" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="segundoApellido" class="form-label">Segundo apellido</label>
                            <input type="text" name="segundoApellido" id="segundoApellido" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="nacionalidad" class="form-label">Nacionalidad</label>
                            <input type="text" name="nacionalidad" id="nacionalidad" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="tipoDocumento" class="form-label">Tipo documento</label>
                            <input type="text" name="tipoDocumento" id="tipoDocumento" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="numeroDocumento" class="form-label">Numero documento</label>
                            <input type="text" name="numeroDocumento" id="numeroDocumento" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="text" name="fechaNacimiento" id="fechaNacimiento" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="estadocivil" class="form-label">Estado civil</label>
                            <input type="text" name="estadocivil" id="estadocivil" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="correoElectronico" class="form-label">Email</label>
                            <input type="text" name="correoElectronico" id="correoElectronico" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="telefonoFijo" class="form-label">telefono</label>
                            <input type="text" name="telefonoFijo" id="telefonoFijo" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="telefonoCel" class="form-label">Celular</label>
                            <input type="text" name="telefonoCel" id="telefonoCel" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="genero" class="form-label">Genero</label>
                            <input type="text" name="genero" id="genero" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="etnia" class="form-label">Etnia</label>
                            <input type="text" name="etnia" id="etnia" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="vulnerabilidad" class="form-label">Vulnerabilidad</label>
                            <input type="text" name="vulnerabilidad" id="vulnerabilidad" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label for="barrio" class="form-label">Barrio</label>
                            <input type="text" name="barrio" id="barrio" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text" name="direccion" id="direccion" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control">
                            <div style="color:red" id="err"></div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <div class="form-group">
                        <button type="submit" onclick="return encrypt()" class="btn btn-primary btn-block mt-4 form-control">
                            Guardar
                        </button>
                        <a href="/api-ciudadania/signIn-ciudadania" class="btn btn-success btn-block mt-3 form-control">Iniciar sesion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

